body {
    box-sizing: border-box;
    margin: 0;
    color: rgb(77, 42, 5);
}

header {
    background-color: rgb(219, 234, 233);
    font-size: .8rem;
    text-align: center;
    padding-top: 2px;
}

.header-p {
      margin-bottom: 1px;
      position: relative;
      font-family: sans-serif;
      text-transform: uppercase;
}

a:link.nav-link {
    text-decoration: none;
    color: rgb(77, 42, 5);
}

a:link.menu-link {
    text-decoration: none;
    color: rgb(77, 42, 5);
}

.hero-img-p {
    width: 100%;
    padding: 300px 0;
    background-image: url(img/Cookie_Sampler__25_2048x.jpg);
}

/* Navigation*/
ul {
    list-style-type: none;
}
.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: solid 3px grey;
    padding-bottom: 3px;
}

.nav-left-list {
    display: flex;
    justify-content: space-around;
    width: 80%;
    border: solid 2px pink;
    margin-left: 200px;
    
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-right: 100px;
    border: solid 1px pink;
}

/* Logo */

.logo   {
    border: solid 2px pink;
    margin: 0;
    background-image: url(img/magnolia-bakery-logo.svg);
    text-indent: -99999999px;
    width: 300px;
    padding: 17px 0;
}

