body {
    margin: 0;
    color: rgb(77, 42, 5);
}

header {
    background-color: rgb(219, 234, 233);
    font-size: .8rem;
    text-align: center;
    padding-top: 2px;
}

.header-p {
      margin-bottom: 1px;
      position: relative;
      font-family: sans-serif;
      text-transform: uppercase;
}