body {
    box-sizing: border-box;
    margin: 0;
    color: rgb(77, 42, 5);
    font-family: libre-franklin, sans-serif;
    font-style: normal;
}

header {
    background-color: rgb(219, 234, 233);
    font-size: .8rem;
    text-align: center;
    padding-top: 4px;
}

.header-p {
      margin-bottom: 1px;
      position: relative;
      top: -6;
      font-family: sans-serif;
      text-transform: uppercase;
      color: rgb(124, 58, 0);
}

a {
    color: rgb(77, 42, 5);
    text-transform: uppercase;
    text-decoration: none;
}

.hero-img {
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 350px 0;
    background-image: url(img/Cookie_Sampler_5_3_e5af9245-8c8e-407e-9a8b-8723ec0b77ec_2048x.webp);
}

.hero-container {
    padding: 40px;
    position: relative;
    max-width: 100%;
    width: 385px;
    margin-left: 116px;
}
.hero-content {
    background: hsla(0,0%,100%,.75);
    opacity: .8;
    padding: 40px;
    position: absolute;
    top: 0;
    text-align: left;
    width: 100%;
}

.hero-h2 {
    font-size: 48px;
    font-family: serif;
    font-weight: 100;
    line-height: 59px;
    margin: 0 0 8px;
}

.hero-p {
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 600px;
    line-height: 30px;
    margin-top: 10px;
}

.hero-button {
    background-color: rgb(196, 218, 209);
    border-radius: 20px;
    color: rgb(77, 42, 5);
    font-size: 18px;
    font-weight: 400;
    line-height: 44px;
    margin: 20px 10px 0;
    text-align: center;
    padding: 12px 50px;

}

/* Navigation*/
ul {
    list-style-type: none;
}
.nav-main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 26px;
    position: relative;
    top: 20;
}

.nav-left-list {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 200px;
    position: relative;
    top: -10;
    
}

.nav-right {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-right: 100px;
    text-transform: uppercase;
    position: relative;
    top: -10;
}

.nav-icons {
    font-size: 25px;
    font-weight: 100;
    margin-right: 55px;
}

i {
    margin-left: 11px;
}

/* Logo */

.logo   {
    margin: 0;
    background-image: url(img/magnolia-bakery-logo.svg);
    background-repeat: no-repeat;
    text-indent: -99999999px;
    width: 140px;
    padding: 17px 0;
    position: relative;
    top: -15;
    left: 60;
}

/* Content */

.main-content {
    width: 85%;
    padding: 20px 0 0 255px;
    margin: 0 auto;   
}

.h2-content {
    font-size: 48px;
    font-family: serif;
    font-weight: lighter;
    line-height: 59px;
    margin: 0 0 8px;
   
}
   /* our products */
.our-prod {
    margin: 0 auto;
    
}

.p-our-prod {
    width: 60%;
    font-size: 20px;
    line-height: 30px;
}

.view-more-prod{
    text-decoration: underline ;
    font-size: 20px;
    
}

.product-gallery {
    display: flex;
    justify-content: center;
}

img {
    width: 60%;
    padding: 10px 10px;
}

.img-container {
    display: flex;
    flex-direction: column;
}

